:root {
	--White: #ffffff;
	--Drey-100: #f5f5f6;
	--Drey-200: #eaebed;
	--Drey-300: #d5d6dc;
	--Drey-500: #acadb9;
	--Drey-600: #7b7c88;
	--Black: #232134;

	--Blue-600: #5e96fc;
	--Blue-500-main: #5e96fc;
	--Blue-400: #92c1ff;
	--Blue-300: #b7d6ff;
	--Blue-200: #c9e0ff;
	--Blue-100: #deecff;
}

body {
	font-size: 20px;
	background-color: var(--Blue-100);
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
}

::before,
::after {
	box-sizing: border-box;
}

ul {
	list-style: none;
}
.main-container {
	width: 1200px;
	margin: 0 auto;
}
.header {
	width: 100%;
	background-color: var(--White);
}
.container {
	margin: auto;
	width: 1200px;
	display: flex;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
.Logo {
	display: block;
}
.menu {
	flex: 1;
}
.menu ul {
	display: flex;
	justify-content: center;
	align-items: center;
}
a:-webkit-any-link {
	color: var(--Black);
}
.menu ul li {
	margin-right: 50px;
}

/* main */

.main {
	display: flex;
	padding-top: 30px;
}
.filter {
	width: 250px;
	border-radius: 10%;
	background-color: var(--White);
}
.filter-container {
	display: inline-block;
}
