:root {
	--White: #ffffff;
	--Drey-100: #f5f5f6;
	--Drey-200: #eaebed;
	--Drey-300: #d5d6dc;
	--Drey-500: #acadb9;
	--Drey-600: #7b7c88;
	--Black: #232134;

	--Blue-600: #5e96fc;
	--Blue-500-main: #5e96fc;
	--Blue-400: #92c1ff;
	--Blue-300: #b7d6ff;
	--Blue-200: #c9e0ff;
	--Blue-100: #deecff;
}

body {
	background-color: #f5f5f5;
	font-family: Inter, sans-serif;
	color: #232134;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
}

::before,
::after {
	box-sizing: border-box;
}

ul {
	list-style: none;
}

.main-container {
	width: 1116px;
	margin: 0 auto;
}

.header {
	width: 100%;
	background-color: var(--White);
}

.container {
	margin: auto;
	max-width: 1116px;
	display: flex;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.Logo {
	display: block;
}

.menu {
	flex: 1;
}

.menu ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu ul li {
	margin-right: 50px;
}

.noSelectLink {
	color: #232134;
}

/* main */

.main {
	max-width: 1116px;
	margin: auto;
	/* margin: 0 auto; */
	display: flex;
	padding-top: 30px;
}





.active {
	color: var(--Blue-500-main);
}

.Main-margin {
	width: 100%;
	margin-top: 16px;
	background-color: var(--White);
	border: 1px solid var(--Drey-200);
	border-radius: 12px;
}

/* main info */
.vacancies {
	width: 773px;
	margin-left: 28px;
}


/* search info */
.ResultSearch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin-top: 16px;
}

.MainPaginator {
	margin: 0 auto;
}

.Info-Vacancy {
	width: 100%;
	padding: 25px 25px 25px 24px;
	transition: background-color 0.3s ease ;
	opacity: 1;
	
}
.Info-Vacancy:hover{
	background-color: #DEECFF
}
.skaleton{
	display: flex;
	justify-content: space-between;
}
.Name-and-Stars p{
margin-right: 10px;
}
.Name-and-Stars {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Name-and-Stars p {
	color: var(--Blue-500-main);
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	transition: color 0.3s ease ;
}
.Name-and-Stars p:hover {
	color: rgb(244, 122, 122);
}

.Salary-and-TypeWork {
	margin-top: 12.5px;
	display: flex;
}

.In-Salary {
	color: var(--Black);
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}

.In-Dart {
	padding-left: 12px;
	padding-right: 12px;
}

.In-Type {
	color: var(--Black);
	font-weight: 400;
	font-size: 16px;
}

.location {
	margin-top: 13px;
	display: flex;
}

.location p {
	color: var(--Black);
	padding-left: 11.33px;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

.paginator {
	padding-top: 40px;
}

/*main info */
.Main-Info-Vacancy {
	max-width: 773px;
	margin: 0 auto;
	background: var(--White);
	border: 1px solid var(--Drey-200);
	border-radius: 12px;
	margin-top: 40px;
}

.Main-Info-Container {
	width: 100%;
	padding: 24px 25px 24px 24px;
}

.Main-Info-Name-and-Stars {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Main-Info-Name-and-Stars p {
	color: var(--Black);
	font-weight: 700;
	font-size: 28px;
	line-height: 34px;
}

.Main-Info-Salary-and-TypeWork {
	margin-top: 16.5px;
	display: flex;
}

.Main-Info-In-Salary {
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: var(--Black);
}

.Main-Info-In-Dart {
	padding-left: 12px;
	padding-right: 12px;
}

.Main-Info-In-Type {
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	color: var(--Black);
}

.Main-Info-location {
	display: flex;
	margin-top: 16.5px;
}

.Main-Info-location p {
	padding-left: 11.33px;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	color: var(--Black);
}

.current-Info-Vacancy {
	max-width: 772px;
	margin: 0 auto;
	border: 1px solid var(--Drey-200);
	border-radius: 12px;
	background: var(--White);
	margin-top: 20px;
}

.current-Info-container {
	padding: 24px;
}

.current-Info-container ul {
	padding-left: 24px;
	list-style: disc;
}

.current-Info-container b {
	font-weight: 700;
}

.current-Info-container p {
	display: block;
	margin-top: 20px;
	margin-bottom: 16px;
	font-size: 20px;
	line-height: 20px;
	color: var(--Black);
}

.current-Info-container b:first-child {
	margin-top: 0px;
}

.Name-Current-Info {
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: var(--Black);
}

.BlockCurrentInfo {
	margin-top: 20px;
}

.BlockCurrentInfo ul {
	margin-top: 16px;
	padding-left: 24px;
	list-style: disc;
}

/* saved vacances  */
.SavedVacancies {
	max-width: 773px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.radius {
	background-color: var(--White);
	border: 1px solid var(--Drey-200);
	border-radius: 12px;
}

/* NotFound */
.NotFound {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-top: 120px;
}

.NotFound p {
	color: #343a40;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	margin-top: 32px;
}

.NotFound input {
	width: 164px;
	height: 42px;
	margin-top: 32px;
	background: var(--Blue-100);
	border: none;
	border-radius: 8px;
}

/* filter */
.filter {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 315px;
	height: 360px;
	background: #FFFFFF;
	border: 1px solid #EAEBED;
	border-radius: 12px;
}
.filter-container{
	width: 100%;
	height: 100%;
	padding: 20px;
}
.Name-Filter{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.Name-Filter-fiter{
	font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
color: #232134;
}
.filter-div{
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.filter-none{
	color: #ACADB9;
	font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
}
.filter-img-none{
	margin-left: 4px;
	display: block;
	display: flex;
	align-items: center;
}
.OTR{
	margin-top: 32px;
}
.mantine-1fzet7j{
	font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #232134;
}

.mantine-gt9j4j {
    width: 100%;
}
.mantine-1wqyxin:not(:disabled){
	margin-top: 8px;
}
.mantine-1dfdtl1{
	margin-top: 8px;	
}
.Ocl{
	margin-top: 20px;
}
.mantine-1p53f75{
	border-radius: 8px;
}
.mantine-1nmvwx4{
	width: 83px;
	margin-right: 12px;
	border-radius: 8px;
	
}
.mantine-1s9e14l{
background: #5E96FC;
}
.mantine-1qi8axh{
	caret-color: #5E96FC;
	caret-width:1px;
	font-family: Inter, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #232134;
	height: 48px;
	border-radius: 8px;
	border: 1px solid #EAEBED;
}